  .heightScroll {
      overflow-y: scroll;
  }

  .heightScroll::-webkit-scrollbar {
      width: 6px;
  }

  .heightScroll::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 4px;
  }

  .heightScroll:hover .heightScroll::-webkit-scrollbar-thumb {
      background-color: #7d7d7d;
  }

  





  .heightScroll2 {
      overflow-y: scroll;
  }

  .heightScroll2::-webkit-scrollbar {
      width: 8px;
  }

  .heightScroll2::-webkit-scrollbar-thumb {
      background-color: #7d7d7d;
      border-radius: 4px;
  }

  .heightScroll2::-webkit-scrollbar-thumb:hover {
      background-color: #7d7d7d;
  }